<style>

  .fuente-color{
  
  font-family: 'Noto Sans JP', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
color: E8906B;
}

.letras-text{

font-family: 'Noto Sans JP', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
color:6C7275}

.fondo{background-color: 6DC0E3}

.historia{margin: 5% 30% 0% 3%;}
.audio{margin: -88% 3% 35% 75%;}
.caract{margin: -6% 7% 30% 75%;}
.tablaa{margin: -20% 30% 10% 3%;}
.formu{margin: 3% 70% 3% 1%;}

</style>